.font {
  font-size: 10px;
  text-transform: uppercase;
}

.advanced {
  font-family: 'advanced';
  font-size: 9px;
}

.blurred-pixels {
  font-family: 'blurred-pixels';
  font-size: 13px;
}

.light-pixel {
  font-family: 'light-pixel';
}
