@font-face {
  font-family: 'advanced';
  src: url('../fonts/advanced.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'blurred-pixels';
  src: url('../fonts/blurred-pixels.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'light-pixel';
  src: url('../fonts/light-pixel.ttf') format('truetype');
  font-display: swap;
}
